.DS_Store
.venv
.idea/
**.egg-info/
.ipynb_checkpoints
.mypy_cache/
.dmypy.json
__pycache__/
tests/__pycache__
*.py[cod]
*$py.class

# Ignore anything under data; exceptions like readme will be --forced added:
data/


