# Dependencies that are needed for the development, testing, and use of notebooks,
# but are not strictly needed when deploying the application. 

# Work with notebooks:
jupyter
ipykernel
nbformat
nbconvert

# Static analysis and code help tools:
pycodestyle
pydocstyle
pylint
autopep8
mypy

# Testing:
pytest
pytest-cov
